body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    line-height: 1.4;
}
section {
    width: 375px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.shapka {
    position: relative;
    margin-top: 0;
    
}

.zagolovok { 
    position: absolute;
    top: 64px;
    left: 30%;
    text-transform: uppercase;
    color: cornsilk;
    
}

.pod-zagolovok {
    position: absolute;
    text-align: center;
    font-size: 15px;
    font-weight:400;
    top: 100px;
    left: 19%;
    color: cornsilk;
}
.pod2 {
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    top: 153px;
    left: 18%;
    color: cornsilk;
}

.btn1 {
   position: absolute;
   margin-left: 40px;
   top: 300px;
}
.btn2 {
    position: absolute;
    margin-left: 285px;
    top: 300px;
    }

.tema {
    position: absolute;
    font-weight:500;
    font-size: 17px;
    margin-left: 37px;
}
.content {
    font-weight:400;
    font-size: 14px;
    margin-right: 37px;
    margin-left: 14px;
    margin-top: 35px;
    line-height: 1.5;
}

.content2 {
    display: inline;
    font-weight:400;
    font-size: 14px;
    margin-top: 35px;
    line-height: 1.5;
}
.tema2 {
    position: absolute;
    font-weight:500;
    font-size: 17px;
    margin-left: 37px;
    margin-top: 35px;
}
.icon {
    position: absolute;
    margin-left: 37px;
    margin-top: 75px;

}
.content3 {
    margin-top: 82px;
    font-weight:400;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 75px;
    margin-right: 37px;   
}
img.icon2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.text {
    text-align: center;
    font-weight:300;
    font-size: 14px;
    margin-left: 37px;
    margin-right: 37px;
}